# need `_LOCAL` here or else it'll override the base anubis's variable when it's included
PATH_TO_ROOT_DOCKER_PROJ_LOCAL=../../../../
PATH_FROM_ROOT_TO_ANUBIS=proxy/anubis/

# for extending base anubis service
ANUBIS_CONFIG_SRC_FILES=proxy/anubis/data/cfg/* services/mail_server/deployment/anubis/data/cfg/*
ANUBIS_CONFIG_DEST_DIR=/data/cfg/
ANUBIS_PRIVKEY_SRC_FILE=services/mail_server/deployment/anubis/data/cfg/memi.ng_privkey
ANUBIS_PRIVKEY_DEST_FILE=/data/cfg/memi.ng_privkey
ANUBIS_POLICY_DEST_FILE=/data/cfg/mail_server.yaml

MAIL_SERVER_ANUBIS_IN_SCKT=<...>
MAIL_SERVER_ANUBIS_OUT_SCKT=<...>
