# security
.env
# SYNC: naming convention!
*_privkey

# general
docker-data/
docs/site/

# tests
test/duplicate_configs/
test/config/dovecot-masters.cf
test/config/postfix-accounts.cf

# vim
.*.swp
.*.swo
